anna-banana.xyz {
        reverse_proxy localhost:8080
}

jellyfin.anna-banana.xyz {
        reverse_proxy localhost:8096
}

grafana.anna-banana.xyz {
        reverse_proxy localhost:3000
}

sonarr.anna-banana.xyz {
        reverse_proxy localhost:8989
}

minecraft.anna-banana.xyz {
        reverse_proxy localhost:25565
}

gossa.anna-banana.xyz {
        reverse_proxy / localhost:8001

        basicauth /* {
            anna $2a$14$uhB/J9BpZYpKjmjIDuQpZ.dp/MkbxQ.mk0unAEp6tNpZA1jexEyTu
        }
}

:2015
respond "Health OK"
